In [72]:
import pandas as pd

In [73]:
df = pd.read_json('population.json')

In [74]:
df.head()

                                                data
0  {'ID State': '04000US39', 'State': 'Ohio', 'ID...
1  {'ID State': '04000US72', 'State': 'Puerto Ric...
2  {'ID State': '04000US01', 'State': 'Alabama', ...
3  {'ID State': '04000US55', 'State': 'Wisconsin'...
4  {'ID State': '04000US02', 'State': 'Alaska', '...

In [75]:
df['State'] = df.data.map(lambda i: i['State'])

In [76]:
df['Pop'] =  df.data.map(lambda i: i['Population'])

In [77]:
df['Year'] = df.data.map(lambda i: i['Year'])

In [78]:
df.head()

,data,State,Pop,Year
0,"{'ID State': '04000US39', 'State': 'Ohio', 'ID...",Ohio,11689442,2018
1,"{'ID State': '04000US72', 'State': 'Puerto Ric...",Puerto Rico,3195153,2018
2,"{'ID State': '04000US01', 'State': 'Alabama', ...",Alabama,4887871,2018
3,"{'ID State': '04000US55', 'State': 'Wisconsin'...",Wisconsin,5813568,2018
4,"{'ID State': '04000US02', 'State': 'Alaska', '...",Alaska,737438,2018

In [79]:
dfUSA = df[['State',"Pop","Year"]]

In [80]:
dfUSA

           State       Pop  Year
0           Ohio  11689442  2018
1    Puerto Rico   3195153  2018
2        Alabama   4887871  2018
3      Wisconsin   5813568  2018
4         Alaska    737438  2018
..           ...       ...   ...
307     Missouri   6044171  2013
308   New Jersey   8899339  2013
309        Texas  26448193  2013
310     Oklahoma   3850568  2013
311      Montana   1015165  2013

[312 rows x 3 columns]

In [81]:
dfUSA.head()

         State       Pop  Year
0         Ohio  11689442  2018
1  Puerto Rico   3195153  2018
2      Alabama   4887871  2018
3    Wisconsin   5813568  2018
4       Alaska    737438  2018

In [82]:
dfUSA.State.head()

0           Ohio
1    Puerto Rico
2        Alabama
3      Wisconsin
4         Alaska
Name: State, dtype: object

In [83]:
# dfUSA.to_dict(orient="records")

In [84]:
new_df = dfUSA[dfUSA['Year'] == '2018']

In [85]:
new_df

                   State       Pop  Year
0                   Ohio  11689442  2018
1            Puerto Rico   3195153  2018
2                Alabama   4887871  2018
3              Wisconsin   5813568  2018
4                 Alaska    737438  2018
5          West Virginia   1805832  2018
6             Washington   7535591  2018
7                Arizona   7171646  2018
8               Virginia   8517685  2018
9               Arkansas   3013825  2018
10               Vermont    626299  2018
11                  Utah   3161105  2018
12            California  39557045  2018
13                 Texas  28701845  2018
14              Colorado   5695564  2018
15             Tennessee   6770010  2018
16          South Dakota    882235  2018
17           Connecticut   3572665  2018
18        South Carolina   5084127  2018
19              Delaware    967171  2018
20          Rhode Island   1057315  2018
21          Pennsylvania  12807060  2018
22  District of Columbia    702455  2018
23                Oregon   4190713  2018
24               Florida  21299325  2018
25              Oklahoma   3943079  2018
26               Wyoming    577737  2018
27               Georgia  10519475  2018
28          North Dakota    760077  2018
29                Hawaii   1420491  2018
30        North Carolina  10383620  2018
31              New York  19542209  2018
32                 Idaho   1754208  2018
33            New Mexico   2095428  2018
34              Illinois  12741080  2018
35            New Jersey   8908520  2018
36         New Hampshire   1356458  2018
37               Indiana   6691878  2018
38                Nevada   3034392  2018
39                  Iowa   3156145  2018
40              Nebraska   1929268  2018
41               Montana   1062305  2018
42                Kansas   2911510  2018
43              Missouri   6126452  2018
44              Kentucky   4468402  2018
45           Mississippi   2986530  2018
46             Minnesota   5611179  2018
47             Louisiana   4659978  2018
48              Michigan   9995915  2018
49                 Maine   1338404  2018
50         Massachusetts   6902149  2018
51              Maryland   6042718  2018

In [86]:
us_pop_2018 = '327200000'

In [87]:
new_df['pop/uspop'] = dfUSA['Pop'] / 327200000

C:\Users\meagc\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [88]:
new_df.head()

         State       Pop  Year  pop/uspop
0         Ohio  11689442  2018   0.035726
1  Puerto Rico   3195153  2018   0.009765
2      Alabama   4887871  2018   0.014938
3    Wisconsin   5813568  2018   0.017768
4       Alaska    737438  2018   0.002254

In [89]:
new_df['per_US'] = new_df['pop/uspop'] * 100

C:\Users\meagc\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [90]:
new_df.head()

         State       Pop  Year  pop/uspop    per_US
0         Ohio  11689442  2018   0.035726  3.572568
1  Puerto Rico   3195153  2018   0.009765  0.976514
2      Alabama   4887871  2018   0.014938  1.493848
3    Wisconsin   5813568  2018   0.017768  1.776763
4       Alaska    737438  2018   0.002254  0.225378

In [91]:
quartile_data = new_df[['State', 'Pop', 'Year', 'per_US']]

In [92]:
quartile_data.head()

         State       Pop  Year    per_US
0         Ohio  11689442  2018  3.572568
1  Puerto Rico   3195153  2018  0.976514
2      Alabama   4887871  2018  1.493848
3    Wisconsin   5813568  2018  1.776763
4       Alaska    737438  2018  0.225378

In [93]:
# the qcut
import numpy as np
import seaborn as sns

In [94]:
bin_labels = ['4th', '3rd', '2nd', '1st']

In [95]:
quartile_data['quantile'] = pd.qcut(quartile_data['per_US'], q=4 , labels=bin_labels)

In [96]:
quartile_data

                   State       Pop  Year     per_US quantile
0                   Ohio  11689442  2018   3.572568      1st
1            Puerto Rico   3195153  2018   0.976514      3rd
2                Alabama   4887871  2018   1.493848      2nd
3              Wisconsin   5813568  2018   1.776763      2nd
4                 Alaska    737438  2018   0.225378      4th
5          West Virginia   1805832  2018   0.551905      3rd
6             Washington   7535591  2018   2.303053      1st
7                Arizona   7171646  2018   2.191823      2nd
8               Virginia   8517685  2018   2.603204      1st
9               Arkansas   3013825  2018   0.921096      3rd
10               Vermont    626299  2018   0.191412      4th
11                  Utah   3161105  2018   0.966108      3rd
12            California  39557045  2018  12.089561      1st
13                 Texas  28701845  2018   8.771958      1st
14              Colorado   5695564  2018   1.740698      2nd
15             Tennessee   6770010  2018   2.069074      2nd
16          South Dakota    882235  2018   0.269632      4th
17           Connecticut   3572665  2018   1.091890      3rd
18        South Carolina   5084127  2018   1.553829      2nd
19              Delaware    967171  2018   0.295590      4th
20          Rhode Island   1057315  2018   0.323140      4th
21          Pennsylvania  12807060  2018   3.914138      1st
22  District of Columbia    702455  2018   0.214687      4th
23                Oregon   4190713  2018   1.280780      3rd
24               Florida  21299325  2018   6.509574      1st
25              Oklahoma   3943079  2018   1.205097      3rd
26               Wyoming    577737  2018   0.176570      4th
27               Georgia  10519475  2018   3.214998      1st
28          North Dakota    760077  2018   0.232297      4th
29                Hawaii   1420491  2018   0.434135      4th
30        North Carolina  10383620  2018   3.173478      1st
31              New York  19542209  2018   5.972558      1st
32                 Idaho   1754208  2018   0.536127      4th
33            New Mexico   2095428  2018   0.640412      3rd
34              Illinois  12741080  2018   3.893973      1st
35            New Jersey   8908520  2018   2.722653      1st
36         New Hampshire   1356458  2018   0.414565      4th
37               Indiana   6691878  2018   2.045195      2nd
38                Nevada   3034392  2018   0.927381      3rd
39                  Iowa   3156145  2018   0.964592      3rd
40              Nebraska   1929268  2018   0.589630      3rd
41               Montana   1062305  2018   0.324665      4th
42                Kansas   2911510  2018   0.889826      3rd
43              Missouri   6126452  2018   1.872388      2nd
44              Kentucky   4468402  2018   1.365649      2nd
45           Mississippi   2986530  2018   0.912754      3rd
46             Minnesota   5611179  2018   1.714908      2nd
47             Louisiana   4659978  2018   1.424199      2nd
48              Michigan   9995915  2018   3.054986      1st
49                 Maine   1338404  2018   0.409048      4th
50         Massachusetts   6902149  2018   2.109459      2nd
51              Maryland   6042718  2018   1.846796      2nd

In [97]:
quartile_data.to_dict(orient="records")

[{'State': 'Ohio',
  'Pop': 11689442,
  'Year': '2018',
  'per_US': 3.572567848410758,
  'quantile': '1st'},
 {'State': 'Puerto Rico',
  'Pop': 3195153,
  'Year': '2018',
  'per_US': 0.9765137530562348,
  'quantile': '3rd'},
 {'State': 'Alabama',
  'Pop': 4887871,
  'Year': '2018',
  'per_US': 1.4938481051344743,
  'quantile': '2nd'},
 {'State': 'Wisconsin',
  'Pop': 5813568,
  'Year': '2018',
  'per_US': 1.776762836185819,
  'quantile': '2nd'},
 {'State': 'Alaska',
  'Pop': 737438,
  'Year': '2018',
  'per_US': 0.2253783618581907,
  'quantile': '4th'},
 {'State': 'West Virginia',
  'Pop': 1805832,
  'Year': '2018',
  'per_US': 0.5519046454767725,
  'quantile': '3rd'},
 {'State': 'Washington',
  'Pop': 7535591,
  'Year': '2018',
  'per_US': 2.3030534841075796,
  'quantile': '1st'},
 {'State': 'Arizona',
  'Pop': 7171646,
  'Year': '2018',
  'per_US': 2.191823349633252,
  'quantile': '2nd'},
 {'State': 'Virginia',
  'Pop': 8517685,
  'Year': '2018',
  'per_US': 2.6032044621026893,
  'quantile': '1st'},
 {'State': 'Arkansas',
  'Pop': 3013825,
  'Year': '2018',
  'per_US': 0.9210956601466992,
  'quantile': '3rd'},
 {'State': 'Vermont',
  'Pop': 626299,
  'Year': '2018',
  'per_US': 0.1914116748166259,
  'quantile': '4th'},
 {'State': 'Utah',
  'Pop': 3161105,
  'Year': '2018',
  'per_US': 0.9661078850855745,
  'quantile': '3rd'},
 {'State': 'California',
  'Pop': 39557045,
  'Year': '2018',
  'per_US': 12.089561430317849,
  'quantile': '1st'},
 {'State': 'Texas',
  'Pop': 28701845,
  'Year': '2018',
  'per_US': 8.771957518337409,
  'quantile': '1st'},
 {'State': 'Colorado',
  'Pop': 5695564,
  'Year': '2018',
  'per_US': 1.7406980440097801,
  'quantile': '2nd'},
 {'State': 'Tennessee',
  'Pop': 6770010,
  'Year': '2018',
  'per_US': 2.069073960880196,
  'quantile': '2nd'},
 {'State': 'South Dakota',
  'Pop': 882235,
  'Year': '2018',
  'per_US': 0.26963172371638144,
  'quantile': '4th'},
 {'State': 'Connecticut',
  'Pop': 3572665,
  'Year': '2018',
  'per_US': 1.0918902811735942,
  'quantile': '3rd'},
 {'State': 'South Carolina',
  'Pop': 5084127,
  'Year': '2018',
  'per_US': 1.553828545232274,
  'quantile': '2nd'},
 {'State': 'Delaware',
  'Pop': 967171,
  'Year': '2018',
  'per_US': 0.29559015892420537,
  'quantile': '4th'},
 {'State': 'Rhode Island',
  'Pop': 1057315,
  'Year': '2018',
  'per_US': 0.32314028117359417,
  'quantile': '4th'},
 {'State': 'Pennsylvania',
  'Pop': 12807060,
  'Year': '2018',
  'per_US': 3.914138141809291,
  'quantile': '1st'},
 {'State': 'District of Columbia',
  'Pop': 702455,
  'Year': '2018',
  'per_US': 0.2146867359413203,
  'quantile': '4th'},
 {'State': 'Oregon',
  'Pop': 4190713,
  'Year': '2018',
  'per_US': 1.2807802567237163,
  'quantile': '3rd'},
 {'State': 'Florida',
  'Pop': 21299325,
  'Year': '2018',
  'per_US': 6.509573655256724,
  'quantile': '1st'},
 {'State': 'Oklahoma',
  'Pop': 3943079,
  'Year': '2018',
  'per_US': 1.2050974938875307,
  'quantile': '3rd'},
 {'State': 'Wyoming',
  'Pop': 577737,
  'Year': '2018',
  'per_US': 0.17656998777506114,
  'quantile': '4th'},
 {'State': 'Georgia',
  'Pop': 10519475,
  'Year': '2018',
  'per_US': 3.214998471882641,
  'quantile': '1st'},
 {'State': 'North Dakota',
  'Pop': 760077,
  'Year': '2018',
  'per_US': 0.2322973716381418,
  'quantile': '4th'},
 {'State': 'Hawaii',
  'Pop': 1420491,
  'Year': '2018',
  'per_US': 0.434135391198044,
  'quantile': '4th'},
 {'State': 'North Carolina',
  'Pop': 10383620,
  'Year': '2018',
  'per_US': 3.1734779951100247,
  'quantile': '1st'},
 {'State': 'New York',
  'Pop': 19542209,
  'Year': '2018',
  'per_US': 5.9725577628361854,
  'quantile': '1st'},
 {'State': 'Idaho',
  'Pop': 1754208,
  'Year': '2018',
  'per_US': 0.5361271393643032,
  'quantile': '4th'},
 {'State': 'New Mexico',
  'Pop': 2095428,
  'Year': '2018',
  'per_US': 0.6404119804400978,
  'quantile': '3rd'},
 {'State': 'Illinois',
  'Pop': 12741080,
  'Year': '2018',
  'per_US': 3.893973105134475,
  'quantile': '1st'},
 {'State': 'New Jersey',
  'Pop': 8908520,
  'Year': '2018',
  'per_US': 2.722652811735941,
  'quantile': '1st'},
 {'State': 'New Hampshire',
  'Pop': 1356458,
  'Year': '2018',
  'per_US': 0.41456540342298287,
  'quantile': '4th'},
 {'State': 'Indiana',
  'Pop': 6691878,
  'Year': '2018',
  'per_US': 2.0451949877750613,
  'quantile': '2nd'},
 {'State': 'Nevada',
  'Pop': 3034392,
  'Year': '2018',
  'per_US': 0.9273814180929094,
  'quantile': '3rd'},
 {'State': 'Iowa',
  'Pop': 3156145,
  'Year': '2018',
  'per_US': 0.9645919926650367,
  'quantile': '3rd'},
 {'State': 'Nebraska',
  'Pop': 1929268,
  'Year': '2018',
  'per_US': 0.5896295843520782,
  'quantile': '3rd'},
 {'State': 'Montana',
  'Pop': 1062305,
  'Year': '2018',
  'per_US': 0.32466534229828853,
  'quantile': '4th'},
 {'State': 'Kansas',
  'Pop': 2911510,
  'Year': '2018',
  'per_US': 0.889825794621027,
  'quantile': '3rd'},
 {'State': 'Missouri',
  'Pop': 6126452,
  'Year': '2018',
  'per_US': 1.8723875305623472,
  'quantile': '2nd'},
 {'State': 'Kentucky',
  'Pop': 4468402,
  'Year': '2018',
  'per_US': 1.365648533007335,
  'quantile': '2nd'},
 {'State': 'Mississippi',
  'Pop': 2986530,
  'Year': '2018',
  'per_US': 0.9127536674816626,
  'quantile': '3rd'},
 {'State': 'Minnesota',
  'Pop': 5611179,
  'Year': '2018',
  'per_US': 1.7149080073349632,
  'quantile': '2nd'},
 {'State': 'Louisiana',
  'Pop': 4659978,
  'Year': '2018',
  'per_US': 1.4241986552567236,
  'quantile': '2nd'},
 {'State': 'Michigan',
  'Pop': 9995915,
  'Year': '2018',
  'per_US': 3.0549862469437654,
  'quantile': '1st'},
 {'State': 'Maine',
  'Pop': 1338404,
  'Year': '2018',
  'per_US': 0.4090476772616137,
  'quantile': '4th'},
 {'State': 'Massachusetts',
  'Pop': 6902149,
  'Year': '2018',
  'per_US': 2.109458740831296,
  'quantile': '2nd'},
 {'State': 'Maryland',
  'Pop': 6042718,
  'Year': '2018',
  'per_US': 1.846796454767726,
  'quantile': '2nd'}]

In [98]:
quartile_data.to_json('quartileData.json', orient='records')

In [99]:
dfquartile_data = quartile_data.to_dict(orient='records')

In [100]:
dfquartile_data.to

AttributeError: 'list' object has no attribute 'to'

Next Year

In [101]:
df_2017 = dfUSA[dfUSA['Year'] == '2017']
df_2017.head()

       State       Pop  Year
52   Arizona   7016270  2017
53   Georgia  10429379  2017
54     Texas  28304596  2017
55      Ohio  11658609  2017
56  Colorado   5607154  2017

In [102]:
df_2017['pop/uspop'] = dfUSA['Pop'] / 327200000

C:\Users\meagc\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [103]:
df_2017['per_US'] = df_2017['pop/uspop'] * 100

C:\Users\meagc\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [104]:
df_2017

                    State       Pop  Year  pop/uspop     per_US
52                Arizona   7016270  2017   0.021443   2.144337
53                Georgia  10429379  2017   0.031875   3.187463
54                  Texas  28304596  2017   0.086505   8.650549
55                   Ohio  11658609  2017   0.035631   3.563145
56               Colorado   5607154  2017   0.017137   1.713678
57           North Dakota    755393  2017   0.002309   0.230866
58                 Hawaii   1427538  2017   0.004363   0.436289
59              Wisconsin   5795483  2017   0.017712   1.771236
60             Washington   7405743  2017   0.022634   2.263369
61         North Carolina  10273419  2017   0.031398   3.139798
62              Tennessee   6715984  2017   0.020526   2.052562
63                  Idaho   1716943  2017   0.005247   0.524738
64                 Alaska    739795  2017   0.002261   0.226099
65               New York  19849399  2017   0.060664   6.066442
66            Connecticut   3588184  2017   0.010966   1.096633
67             New Mexico   2088070  2017   0.006382   0.638163
68               Illinois  12802023  2017   0.039126   3.912599
69               Virginia   8470020  2017   0.025886   2.588637
70           South Dakota    869666  2017   0.002658   0.265790
71             New Jersey   9005644  2017   0.027523   2.752336
72               Arkansas   3004279  2017   0.009182   0.918178
73                Indiana   6666818  2017   0.020375   2.037536
74         South Carolina   5024369  2017   0.015356   1.535565
75          New Hampshire   1342795  2017   0.004104   0.410390
76               Delaware    961939  2017   0.002940   0.293991
77                 Nevada   2998039  2017   0.009163   0.916271
78                   Iowa   3145711  2017   0.009614   0.961403
79            Puerto Rico   3337177  2017   0.010199   1.019920
80                Wyoming    579315  2017   0.001771   0.177052
81               Nebraska   1920076  2017   0.005868   0.586820
82           Rhode Island   1059639  2017   0.003239   0.323851
83                 Kansas   2913123  2017   0.008903   0.890319
84                Vermont    623657  2017   0.001906   0.190604
85                Montana   1050493  2017   0.003211   0.321055
86   District of Columbia    693972  2017   0.002121   0.212094
87               Missouri   6113532  2017   0.018684   1.868439
88               Kentucky   4454189  2017   0.013613   1.361305
89          West Virginia   1815857  2017   0.005550   0.554969
90           Pennsylvania  12805537  2017   0.039137   3.913673
91            Mississippi   2984100  2017   0.009120   0.912011
92             California  39536653  2017   0.120833  12.083329
93              Louisiana   4684333  2017   0.014316   1.431642
94                 Oregon   4142776  2017   0.012661   1.266130
95              Minnesota   5576606  2017   0.017043   1.704342
96                Florida  20984400  2017   0.064133   6.413325
97               Michigan   9962311  2017   0.030447   3.044716
98                  Maine   1335907  2017   0.004083   0.408285
99                Alabama   4874747  2017   0.014898   1.489837
100                  Utah   3101833  2017   0.009480   0.947993
101         Massachusetts   6859819  2017   0.020965   2.096522
102              Oklahoma   3930864  2017   0.012014   1.201364
103              Maryland   6052177  2017   0.018497   1.849687

In [105]:
quartile_data_2017 = df_2017[['State', 'Pop', 'Year', 'per_US']]
quartile_data_2017.head()

       State       Pop  Year    per_US
52   Arizona   7016270  2017  2.144337
53   Georgia  10429379  2017  3.187463
54     Texas  28304596  2017  8.650549
55      Ohio  11658609  2017  3.563145
56  Colorado   5607154  2017  1.713678

In [106]:
bin_labels = ['4th', '3rd', '2nd', '1st']

In [107]:
quartile_data_2017['quantile'] = pd.qcut(quartile_data_2017['per_US'], q=4 , labels=bin_labels)
quartile_data_2017

                    State       Pop  Year     per_US quantile
52                Arizona   7016270  2017   2.144337      2nd
53                Georgia  10429379  2017   3.187463      1st
54                  Texas  28304596  2017   8.650549      1st
55                   Ohio  11658609  2017   3.563145      1st
56               Colorado   5607154  2017   1.713678      2nd
57           North Dakota    755393  2017   0.230866      4th
58                 Hawaii   1427538  2017   0.436289      4th
59              Wisconsin   5795483  2017   1.771236      2nd
60             Washington   7405743  2017   2.263369      1st
61         North Carolina  10273419  2017   3.139798      1st
62              Tennessee   6715984  2017   2.052562      2nd
63                  Idaho   1716943  2017   0.524738      4th
64                 Alaska    739795  2017   0.226099      4th
65               New York  19849399  2017   6.066442      1st
66            Connecticut   3588184  2017   1.096633      3rd
67             New Mexico   2088070  2017   0.638163      3rd
68               Illinois  12802023  2017   3.912599      1st
69               Virginia   8470020  2017   2.588637      1st
70           South Dakota    869666  2017   0.265790      4th
71             New Jersey   9005644  2017   2.752336      1st
72               Arkansas   3004279  2017   0.918178      3rd
73                Indiana   6666818  2017   2.037536      2nd
74         South Carolina   5024369  2017   1.535565      2nd
75          New Hampshire   1342795  2017   0.410390      4th
76               Delaware    961939  2017   0.293991      4th
77                 Nevada   2998039  2017   0.916271      3rd
78                   Iowa   3145711  2017   0.961403      3rd
79            Puerto Rico   3337177  2017   1.019920      3rd
80                Wyoming    579315  2017   0.177052      4th
81               Nebraska   1920076  2017   0.586820      3rd
82           Rhode Island   1059639  2017   0.323851      4th
83                 Kansas   2913123  2017   0.890319      3rd
84                Vermont    623657  2017   0.190604      4th
85                Montana   1050493  2017   0.321055      4th
86   District of Columbia    693972  2017   0.212094      4th
87               Missouri   6113532  2017   1.868439      2nd
88               Kentucky   4454189  2017   1.361305      2nd
89          West Virginia   1815857  2017   0.554969      3rd
90           Pennsylvania  12805537  2017   3.913673      1st
91            Mississippi   2984100  2017   0.912011      3rd
92             California  39536653  2017  12.083329      1st
93              Louisiana   4684333  2017   1.431642      2nd
94                 Oregon   4142776  2017   1.266130      3rd
95              Minnesota   5576606  2017   1.704342      2nd
96                Florida  20984400  2017   6.413325      1st
97               Michigan   9962311  2017   3.044716      1st
98                  Maine   1335907  2017   0.408285      4th
99                Alabama   4874747  2017   1.489837      2nd
100                  Utah   3101833  2017   0.947993      3rd
101         Massachusetts   6859819  2017   2.096522      2nd
102              Oklahoma   3930864  2017   1.201364      3rd
103              Maryland   6052177  2017   1.849687      2nd

In [108]:
quartile_data_2017.to_json('quartileData2017.json', orient='records')

Next Year

In [109]:
df_2016 = dfUSA[dfUSA['Year'] == '2016']
df_2016.head()

           State      Pop  Year
104   New Mexico  2081015  2016
105     Maryland  6016447  2016
106  Puerto Rico  3411307  2016
107     Michigan  9928300  2016
108        Maine  1331479  2016

In [110]:
df_2016['pop/uspop'] = dfUSA['Pop'] / 327200000

C:\Users\meagc\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [111]:
df_2016['per_US'] = df_2016['pop/uspop'] * 100

C:\Users\meagc\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [112]:
df_2016

                    State       Pop  Year  pop/uspop     per_US
104            New Mexico   2081015  2016   0.006360   0.636007
105              Maryland   6016447  2016   0.018388   1.838767
106           Puerto Rico   3411307  2016   0.010426   1.042575
107              Michigan   9928300  2016   0.030343   3.034322
108                 Maine   1331479  2016   0.004069   0.406931
109               Alabama   4863300  2016   0.014863   1.486339
110             Minnesota   5519952  2016   0.016870   1.687027
111               Wyoming    585501  2016   0.001789   0.178943
112             Louisiana   4681666  2016   0.014308   1.430827
113           Mississippi   2988726  2016   0.009134   0.913425
114                Alaska    741894  2016   0.002267   0.226740
115              Missouri   6093000  2016   0.018622   1.862164
116              Kentucky   4436974  2016   0.013560   1.356043
117             Wisconsin   5778709  2016   0.017661   1.766109
118               Montana   1042520  2016   0.003186   0.318619
119                Kansas   2907289  2016   0.008885   0.888536
120              Nebraska   1907116  2016   0.005829   0.582859
121         West Virginia   1831102  2016   0.005596   0.559628
122                Nevada   2940058  2016   0.008986   0.898551
123                  Iowa   3134693  2016   0.009580   0.958036
124               Arizona   6931071  2016   0.021183   2.118298
125         New Hampshire   1334795  2016   0.004079   0.407945
126            Washington   7288000  2016   0.022274   2.227384
127               Indiana   6633053  2016   0.020272   2.027217
128            New Jersey   8944469  2016   0.027336   2.733640
129              Arkansas   2988248  2016   0.009133   0.913279
130         Massachusetts   6811779  2016   0.020818   2.081840
131              Illinois  12801539  2016   0.039125   3.912451
132              Virginia   8411808  2016   0.025708   2.570846
133              New York  19745289  2016   0.060346   6.034624
134                 Idaho   1683140  2016   0.005144   0.514407
135        North Carolina  10146788  2016   0.031011   3.101097
136               Vermont    624594  2016   0.001909   0.190891
137          North Dakota    757953  2016   0.002316   0.231648
138                Hawaii   1428557  2016   0.004366   0.436601
139            California  39250017  2016   0.119957  11.995726
140                  Ohio  11614373  2016   0.035496   3.549625
141                  Utah   3051217  2016   0.009325   0.932524
142               Georgia  10310371  2016   0.031511   3.151091
143              Oklahoma   3923561  2016   0.011991   1.199132
144              Colorado   5540545  2016   0.016933   1.693321
145                 Texas  27862596  2016   0.085155   8.515463
146                Oregon   4093465  2016   0.012511   1.251059
147               Florida  20612439  2016   0.062996   6.299645
148          Pennsylvania  12784227  2016   0.039072   3.907160
149  District of Columbia    681170  2016   0.002082   0.208182
150             Tennessee   6651194  2016   0.020328   2.032761
151          Rhode Island   1056426  2016   0.003229   0.322869
152           Connecticut   3576452  2016   0.010930   1.093048
153        South Carolina   4961119  2016   0.015162   1.516234
154              Delaware    952065  2016   0.002910   0.290973
155          South Dakota    865454  2016   0.002645   0.264503

In [113]:
quartile_data_2016 = df_2016[['State', 'Pop', 'Year', 'per_US']]
quartile_data_2016.head()

           State      Pop  Year    per_US
104   New Mexico  2081015  2016  0.636007
105     Maryland  6016447  2016  1.838767
106  Puerto Rico  3411307  2016  1.042575
107     Michigan  9928300  2016  3.034322
108        Maine  1331479  2016  0.406931

In [114]:
quartile_data_2016['quantile'] = pd.qcut(quartile_data_2016['per_US'], q=4 , labels=bin_labels)
quartile_data_2016

                    State       Pop  Year     per_US quantile
104            New Mexico   2081015  2016   0.636007      3rd
105              Maryland   6016447  2016   1.838767      2nd
106           Puerto Rico   3411307  2016   1.042575      3rd
107              Michigan   9928300  2016   3.034322      1st
108                 Maine   1331479  2016   0.406931      4th
109               Alabama   4863300  2016   1.486339      2nd
110             Minnesota   5519952  2016   1.687027      2nd
111               Wyoming    585501  2016   0.178943      4th
112             Louisiana   4681666  2016   1.430827      2nd
113           Mississippi   2988726  2016   0.913425      3rd
114                Alaska    741894  2016   0.226740      4th
115              Missouri   6093000  2016   1.862164      2nd
116              Kentucky   4436974  2016   1.356043      2nd
117             Wisconsin   5778709  2016   1.766109      2nd
118               Montana   1042520  2016   0.318619      4th
119                Kansas   2907289  2016   0.888536      3rd
120              Nebraska   1907116  2016   0.582859      3rd
121         West Virginia   1831102  2016   0.559628      3rd
122                Nevada   2940058  2016   0.898551      3rd
123                  Iowa   3134693  2016   0.958036      3rd
124               Arizona   6931071  2016   2.118298      2nd
125         New Hampshire   1334795  2016   0.407945      4th
126            Washington   7288000  2016   2.227384      1st
127               Indiana   6633053  2016   2.027217      2nd
128            New Jersey   8944469  2016   2.733640      1st
129              Arkansas   2988248  2016   0.913279      3rd
130         Massachusetts   6811779  2016   2.081840      2nd
131              Illinois  12801539  2016   3.912451      1st
132              Virginia   8411808  2016   2.570846      1st
133              New York  19745289  2016   6.034624      1st
134                 Idaho   1683140  2016   0.514407      4th
135        North Carolina  10146788  2016   3.101097      1st
136               Vermont    624594  2016   0.190891      4th
137          North Dakota    757953  2016   0.231648      4th
138                Hawaii   1428557  2016   0.436601      4th
139            California  39250017  2016  11.995726      1st
140                  Ohio  11614373  2016   3.549625      1st
141                  Utah   3051217  2016   0.932524      3rd
142               Georgia  10310371  2016   3.151091      1st
143              Oklahoma   3923561  2016   1.199132      3rd
144              Colorado   5540545  2016   1.693321      2nd
145                 Texas  27862596  2016   8.515463      1st
146                Oregon   4093465  2016   1.251059      3rd
147               Florida  20612439  2016   6.299645      1st
148          Pennsylvania  12784227  2016   3.907160      1st
149  District of Columbia    681170  2016   0.208182      4th
150             Tennessee   6651194  2016   2.032761      2nd
151          Rhode Island   1056426  2016   0.322869      4th
152           Connecticut   3576452  2016   1.093048      3rd
153        South Carolina   4961119  2016   1.516234      2nd
154              Delaware    952065  2016   0.290973      4th
155          South Dakota    865454  2016   0.264503      4th

In [115]:
quartile_data_2016.to_json('quartileData2016.json', orient='records')

Next Year

In [116]:
df_2015 = dfUSA[dfUSA['Year'] == '2015']
df_2015.head()

           State       Pop  Year
156     Kentucky   4425092  2015
157   New Mexico   2085109  2015
158      Alabama   4858979  2015
159  Puerto Rico   3474182  2015
160     Illinois  12859995  2015

In [117]:
df_2015['pop/uspop'] = dfUSA['Pop'] / 327200000

C:\Users\meagc\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [118]:
df_2015['per_US'] = df_2015['pop/uspop'] * 100

C:\Users\meagc\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [119]:
df_2015

                    State       Pop  Year  pop/uspop     per_US
156              Kentucky   4425092  2015   0.013524   1.352412
157            New Mexico   2085109  2015   0.006373   0.637258
158               Alabama   4858979  2015   0.014850   1.485018
159           Puerto Rico   3474182  2015   0.010618   1.061792
160              Illinois  12859995  2015   0.039303   3.930316
161               Montana   1032949  2015   0.003157   0.315693
162              New York  19795791  2015   0.060501   6.050058
163              Michigan   9922576  2015   0.030326   3.032572
164              Virginia   8382993  2015   0.025620   2.562039
165             Wisconsin   5771337  2015   0.017639   1.763856
166            California  39144818  2015   0.119636  11.963575
167        North Carolina  10042802  2015   0.030693   3.069316
168              Oklahoma   3911338  2015   0.011954   1.195397
169                 Idaho   1654930  2015   0.005058   0.505785
170               Arizona   6828065  2015   0.020868   2.086817
171               Vermont    626042  2015   0.001913   0.191333
172          North Dakota    756928  2015   0.002313   0.231335
173              Nebraska   1896190  2015   0.005795   0.579520
174               Wyoming    586107  2015   0.001791   0.179128
175                Hawaii   1431603  2015   0.004375   0.437531
176                Kansas   2911641  2015   0.008899   0.889866
177                  Ohio  11613423  2015   0.035493   3.549335
178           Mississippi   2992333  2015   0.009145   0.914527
179         West Virginia   1844128  2015   0.005636   0.563609
180                Nevada   2890845  2015   0.008835   0.883510
181                  Utah   2995919  2015   0.009156   0.915623
182              Colorado   5456574  2015   0.016677   1.667657
183              Maryland   6006401  2015   0.018357   1.835697
184               Georgia  10214860  2015   0.031219   3.121901
185             Louisiana   4670724  2015   0.014275   1.427483
186                  Iowa   3123899  2015   0.009547   0.954737
187                Oregon   4028977  2015   0.012313   1.231350
188                Alaska    738432  2015   0.002257   0.225682
189         New Hampshire   1330608  2015   0.004067   0.406665
190               Florida  20271272  2015   0.061954   6.195377
191                 Texas  27469114  2015   0.083952   8.395206
192          Pennsylvania  12802503  2015   0.039127   3.912745
193                 Maine   1329328  2015   0.004063   0.406274
194           Connecticut   3590886  2015   0.010975   1.097459
195              Missouri   6083672  2015   0.018593   1.859313
196         Massachusetts   6794422  2015   0.020765   2.076535
197          Rhode Island   1056298  2015   0.003228   0.322829
198            Washington   7170351  2015   0.021914   2.191428
199  District of Columbia    672228  2015   0.002054   0.205449
200             Tennessee   6600299  2015   0.020172   2.017206
201            New Jersey   8958013  2015   0.027378   2.737779
202        South Carolina   4896146  2015   0.014964   1.496377
203             Minnesota   5489594  2015   0.016777   1.677749
204               Indiana   6619680  2015   0.020231   2.023130
205              Delaware    945934  2015   0.002891   0.289100
206              Arkansas   2978204  2015   0.009102   0.910209
207          South Dakota    858469  2015   0.002624   0.262368

In [120]:
quartile_data_2015 = df_2015[['State', 'Pop', 'Year', 'per_US']]
quartile_data_2015.head()

           State       Pop  Year    per_US
156     Kentucky   4425092  2015  1.352412
157   New Mexico   2085109  2015  0.637258
158      Alabama   4858979  2015  1.485018
159  Puerto Rico   3474182  2015  1.061792
160     Illinois  12859995  2015  3.930316

In [121]:
quartile_data_2015['quantile'] = pd.qcut(quartile_data_2015['per_US'], q=4 , labels=bin_labels)
quartile_data_2015

                    State       Pop  Year     per_US quantile
156              Kentucky   4425092  2015   1.352412      2nd
157            New Mexico   2085109  2015   0.637258      3rd
158               Alabama   4858979  2015   1.485018      2nd
159           Puerto Rico   3474182  2015   1.061792      3rd
160              Illinois  12859995  2015   3.930316      1st
161               Montana   1032949  2015   0.315693      4th
162              New York  19795791  2015   6.050058      1st
163              Michigan   9922576  2015   3.032572      1st
164              Virginia   8382993  2015   2.562039      1st
165             Wisconsin   5771337  2015   1.763856      2nd
166            California  39144818  2015  11.963575      1st
167        North Carolina  10042802  2015   3.069316      1st
168              Oklahoma   3911338  2015   1.195397      3rd
169                 Idaho   1654930  2015   0.505785      4th
170               Arizona   6828065  2015   2.086817      2nd
171               Vermont    626042  2015   0.191333      4th
172          North Dakota    756928  2015   0.231335      4th
173              Nebraska   1896190  2015   0.579520      3rd
174               Wyoming    586107  2015   0.179128      4th
175                Hawaii   1431603  2015   0.437531      4th
176                Kansas   2911641  2015   0.889866      3rd
177                  Ohio  11613423  2015   3.549335      1st
178           Mississippi   2992333  2015   0.914527      3rd
179         West Virginia   1844128  2015   0.563609      3rd
180                Nevada   2890845  2015   0.883510      3rd
181                  Utah   2995919  2015   0.915623      3rd
182              Colorado   5456574  2015   1.667657      2nd
183              Maryland   6006401  2015   1.835697      2nd
184               Georgia  10214860  2015   3.121901      1st
185             Louisiana   4670724  2015   1.427483      2nd
186                  Iowa   3123899  2015   0.954737      3rd
187                Oregon   4028977  2015   1.231350      3rd
188                Alaska    738432  2015   0.225682      4th
189         New Hampshire   1330608  2015   0.406665      4th
190               Florida  20271272  2015   6.195377      1st
191                 Texas  27469114  2015   8.395206      1st
192          Pennsylvania  12802503  2015   3.912745      1st
193                 Maine   1329328  2015   0.406274      4th
194           Connecticut   3590886  2015   1.097459      3rd
195              Missouri   6083672  2015   1.859313      2nd
196         Massachusetts   6794422  2015   2.076535      2nd
197          Rhode Island   1056298  2015   0.322829      4th
198            Washington   7170351  2015   2.191428      1st
199  District of Columbia    672228  2015   0.205449      4th
200             Tennessee   6600299  2015   2.017206      2nd
201            New Jersey   8958013  2015   2.737779      1st
202        South Carolina   4896146  2015   1.496377      2nd
203             Minnesota   5489594  2015   1.677749      2nd
204               Indiana   6619680  2015   2.023130      2nd
205              Delaware    945934  2015   0.289100      4th
206              Arkansas   2978204  2015   0.910209      3rd
207          South Dakota    858469  2015   0.262368      4th

In [122]:
quartile_data_2015.to_json('quartileData2015.json', orient='records')

Last Year

In [123]:
df_2014 = dfUSA[dfUSA['Year'] == '2014']
df_2014.head()

                    State      Pop  Year
208            New Mexico  2085572  2014
209          South Dakota   853175  2014
210        South Carolina  4832482  2014
211             Tennessee  6549352  2014
212  District of Columbia   658893  2014

In [124]:
df_2014['pop/uspop'] = dfUSA['Pop'] / 327200000

C:\Users\meagc\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [125]:
df_2014['per_US'] = df_2014['pop/uspop'] * 100

C:\Users\meagc\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [126]:
df_2014

                    State       Pop  Year  pop/uspop     per_US
208            New Mexico   2085572  2014   0.006374   0.637400
209          South Dakota    853175  2014   0.002608   0.260750
210        South Carolina   4832482  2014   0.014769   1.476920
211             Tennessee   6549352  2014   0.020016   2.001636
212  District of Columbia    658893  2014   0.002014   0.201373
213          Rhode Island   1055173  2014   0.003225   0.322486
214               Florida  19893297  2014   0.060799   6.079858
215           Connecticut   3596677  2014   0.010992   1.099229
216                 Texas  26956958  2014   0.082387   8.238679
217          Pennsylvania  12787209  2014   0.039081   3.908071
218                Oregon   3970239  2014   0.012134   1.213398
219               Georgia  10097343  2014   0.030860   3.085985
220         Massachusetts   6745408  2014   0.020616   2.061555
221                  Utah   2942902  2014   0.008994   0.899420
222              Oklahoma   3878051  2014   0.011852   1.185223
223                Hawaii   1419561  2014   0.004339   0.433851
224              Colorado   5355866  2014   0.016369   1.636878
225                  Ohio  11594163  2014   0.035434   3.543448
226               Vermont    626562  2014   0.001915   0.191492
227          North Dakota    739482  2014   0.002260   0.226003
228                 Idaho   1634464  2014   0.004995   0.499531
229        North Carolina   9943964  2014   0.030391   3.039109
230            California  38802500  2014   0.118590  11.858955
231              Virginia   8326289  2014   0.025447   2.544709
232              Illinois  12880580  2014   0.039366   3.936608
233              New York  19746227  2014   0.060349   6.034910
234              Delaware    935614  2014   0.002859   0.285946
235               Indiana   6596855  2014   0.020162   2.016154
236            Washington   7061530  2014   0.021582   2.158169
237            New Jersey   8938175  2014   0.027317   2.731716
238                  Iowa   3107126  2014   0.009496   0.949611
239              Arkansas   2966369  2014   0.009066   0.906592
240         New Hampshire   1326813  2014   0.004055   0.405505
241         West Virginia   1850326  2014   0.005655   0.565503
242                Nevada   2839099  2014   0.008677   0.867695
243                Kansas   2904021  2014   0.008875   0.887537
244              Nebraska   1881503  2014   0.005750   0.575031
245               Arizona   6731484  2014   0.020573   2.057300
246             Wisconsin   5757564  2014   0.017596   1.759647
247              Kentucky   4413457  2014   0.013489   1.348856
248               Montana   1023579  2014   0.003128   0.312830
249              Missouri   6063589  2014   0.018532   1.853175
250             Louisiana   4649676  2014   0.014211   1.421050
251               Wyoming    584153  2014   0.001785   0.178531
252           Mississippi   2994079  2014   0.009151   0.915061
253                 Maine   1330089  2014   0.004065   0.406506
254                Alaska    736732  2014   0.002252   0.225163
255             Minnesota   5457173  2014   0.016678   1.667840
256           Puerto Rico   3548397  2014   0.010845   1.084473
257              Michigan   9909877  2014   0.030287   3.028691
258              Maryland   5976407  2014   0.018265   1.826530
259               Alabama   4849377  2014   0.014821   1.482083

In [127]:
quartile_data_2014 = df_2014[['State', 'Pop', 'Year', 'per_US']]
quartile_data_2014.head()

                    State      Pop  Year    per_US
208            New Mexico  2085572  2014  0.637400
209          South Dakota   853175  2014  0.260750
210        South Carolina  4832482  2014  1.476920
211             Tennessee  6549352  2014  2.001636
212  District of Columbia   658893  2014  0.201373

In [128]:
quartile_data_2014['quantile'] = pd.qcut(quartile_data_2014['per_US'], q=4 , labels=bin_labels)
quartile_data_2014

                    State       Pop  Year     per_US quantile
208            New Mexico   2085572  2014   0.637400      3rd
209          South Dakota    853175  2014   0.260750      4th
210        South Carolina   4832482  2014   1.476920      2nd
211             Tennessee   6549352  2014   2.001636      2nd
212  District of Columbia    658893  2014   0.201373      4th
213          Rhode Island   1055173  2014   0.322486      4th
214               Florida  19893297  2014   6.079858      1st
215           Connecticut   3596677  2014   1.099229      3rd
216                 Texas  26956958  2014   8.238679      1st
217          Pennsylvania  12787209  2014   3.908071      1st
218                Oregon   3970239  2014   1.213398      3rd
219               Georgia  10097343  2014   3.085985      1st
220         Massachusetts   6745408  2014   2.061555      2nd
221                  Utah   2942902  2014   0.899420      3rd
222              Oklahoma   3878051  2014   1.185223      3rd
223                Hawaii   1419561  2014   0.433851      4th
224              Colorado   5355866  2014   1.636878      2nd
225                  Ohio  11594163  2014   3.543448      1st
226               Vermont    626562  2014   0.191492      4th
227          North Dakota    739482  2014   0.226003      4th
228                 Idaho   1634464  2014   0.499531      4th
229        North Carolina   9943964  2014   3.039109      1st
230            California  38802500  2014  11.858955      1st
231              Virginia   8326289  2014   2.544709      1st
232              Illinois  12880580  2014   3.936608      1st
233              New York  19746227  2014   6.034910      1st
234              Delaware    935614  2014   0.285946      4th
235               Indiana   6596855  2014   2.016154      2nd
236            Washington   7061530  2014   2.158169      1st
237            New Jersey   8938175  2014   2.731716      1st
238                  Iowa   3107126  2014   0.949611      3rd
239              Arkansas   2966369  2014   0.906592      3rd
240         New Hampshire   1326813  2014   0.405505      4th
241         West Virginia   1850326  2014   0.565503      3rd
242                Nevada   2839099  2014   0.867695      3rd
243                Kansas   2904021  2014   0.887537      3rd
244              Nebraska   1881503  2014   0.575031      3rd
245               Arizona   6731484  2014   2.057300      2nd
246             Wisconsin   5757564  2014   1.759647      2nd
247              Kentucky   4413457  2014   1.348856      2nd
248               Montana   1023579  2014   0.312830      4th
249              Missouri   6063589  2014   1.853175      2nd
250             Louisiana   4649676  2014   1.421050      2nd
251               Wyoming    584153  2014   0.178531      4th
252           Mississippi   2994079  2014   0.915061      3rd
253                 Maine   1330089  2014   0.406506      4th
254                Alaska    736732  2014   0.225163      4th
255             Minnesota   5457173  2014   1.667840      2nd
256           Puerto Rico   3548397  2014   1.084473      3rd
257              Michigan   9909877  2014   3.028691      1st
258              Maryland   5976407  2014   1.826530      2nd
259               Alabama   4849377  2014   1.482083      2nd

In [129]:
quartile_data_2014.to_json('quartileData2014.json', orient='records')